Repository softwaremill/sttp, pull requests merged in 2023-07, with the labels that each got.

#1878 Update scalafmt-core to 3.7.6
  .scalafmt.conf
Labels: dependency

#1879 1853 ignore content encoding header if it is empty
  armeria-backend/cats-ce2/src/test/scala/sttp/client4/armeria/cats/ArmeriaCatsHttpTest.scala
  armeria-backend/cats/src/test/scala/sttp/client4/armeria/cats/ArmeriaCatsHttpTest.scala
  armeria-backend/fs2-ce2/src/test/scala/sttp/client4/armeria/fs2/ArmeriaFs2HttpTest.scala
  armeria-backend/fs2/src/test/scala/sttp/client4/armeria/fs2/ArmeriaFs2HttpTest.scala
  armeria-backend/monix/src/test/scala/sttp/client4/armeria/monix/ArmeriaMonixHttpTest.scala
  armeria-backend/scalaz/src/test/scala/sttp/client4/armeria/scalaz/ArmeriaScalazHttpTest.scala
  armeria-backend/src/test/scala/sttp/client4/armeria/future/ArmeriaFutureHttpTest.scala
  armeria-backend/zio/src/test/scala/sttp/client4/armeria/zio/ArmeriaZioHttpTest.scala
  armeria-backend/zio1/src/test/scala/sttp/client4/armeria/zio/ArmeriaZioHttpTest.scala
  core/src/main/scalajvm/sttp/client4/httpclient/HttpClientBackend.scala
  core/src/main/scalajvm/sttp/client4/httpurlconnection/HttpURLConnectionBackend.scala
  core/src/test/scala/sttp/client4/testing/HttpTest.scala
  okhttp-backend/src/main/scala/sttp/client4/okhttp/OkHttpBackend.scala
  testing/server/src/main/scala/sttp/client4/testing/server/HttpServer.scala
Labels: bug

#1881 Update zio-json to 0.6.0
  build.sbt
Labels: dependency

#1882 Update resilience4j-circuitbreaker, ... to 2.1.0
  build.sbt
Labels: dependency

#1872 Update armeria to 1.24.2
  build.sbt
Labels: dependency

#1885 Update scalafmt-core to 3.7.7
  .scalafmt.conf
Labels: dependency

#1884 Update scribe to 3.11.7
  build.sbt
Labels: dependency

#1850 Update shared:akka, shared:core, shared:fs2, ... to 1.3.15
  build.sbt
  docs/backends/wrappers/opentelemetry.md
  observability/opentelemetry-tracing-zio1-backend/src/main/scala/sttp/client4/opentelemetry/zio/OpenTelemetryTracingZioBackend.scala
  observability/opentelemetry-tracing-zio1-backend/src/test/scala/sttp/client4/opentelemetry/zio/OpenTelemetryTracingZioBackendTest.scala
Labels: dependency

#1887 [v3] Update zio1 to 1.0.18 and sttp-shared 1.3.15
  build.sbt
  docs/backends/wrappers/opentelemetry.md
  observability/opentelemetry-tracing-zio1-backend/src/main/scala/sttp/client3/opentelemetry/zio/OpenTelemetryTracingZioBackend.scala
  observability/opentelemetry-tracing-zio1-backend/src/test/scala/sttp/client3/opentelemetry/zio/OpenTelemetryTracingZioBackendTest.scala
Labels: v3

#1890 Update opentelemetry-api, ... to 1.28.0
  build.sbt
Labels: dependency

#1891 Update upickle to 3.1.2
  build.sbt
Labels: dependency

#1893 Update sbt to 1.9.2
  project/build.properties
Labels: dependency

#1894 Update scalafmt-core to 3.7.8
  .scalafmt.conf
Labels: dependency

#1897 Update scalafmt-core to 3.7.9
  .scalafmt.conf
Labels: dependency

#1896 Update model:core to 1.7.0
  build.sbt
Labels: dependency

#1899 Update scribe to 3.11.8
  build.sbt
Labels: dependency

#1901 Update scalafmt-core to 3.7.10
  .scalafmt.conf
Labels: dependency

#1903 Update sbt-mima-plugin to 1.1.3
  project/plugins.sbt
Labels: dependency

#1904 Update http4s-client, http4s-ember-client to 0.23.23
  build.sbt
Labels: dependency

#1905 Update shared:akka, shared:core, shared:fs2, ... to 1.3.16
  build.sbt
Labels: dependency

#1906 Update model:core to 1.7.1
  build.sbt
Labels: dependency

#1908 Update sbt to 1.9.3
  project/build.properties
Labels: dependency

#1910 Update armeria to 1.24.3
  build.sbt
Labels: dependency
