Repository softwaremill/sttp, pull requests merged in 2024-05, with the labels that each got.

#2160 Update circe-core, circe-generic, ... to 0.14.7
  build.sbt
Labels: dependency

#2168 Update http4s-client, http4s-ember-client to 0.23.27
  build.sbt
Labels: dependency

#2162 Update armeria to 1.28.4
  build.sbt
Labels: dependency, automerge

#2163 Update play-json to 2.10.5
  build.sbt
Labels: dependency

#2166 Update jsoniter-scala-core, ... to 2.28.5
  build.sbt
Labels: dependency

#2165 Update scala-library to 2.13.14
  build.sbt
Labels: dependency

#2167 Update finagle-http to 24.2.0
  build.sbt
Labels: dependency, automerge

#2171 Update scala3-library_sjs1 to 3.4.1
  build.sbt
Labels: dependency, automerge

#2172 Pin scala3-library_sjs1 to 3.3.x
  .scala-steward.conf
  build.sbt
Labels: automerge

#2174 Update scribe to 3.13.5
  build.sbt
Labels: dependency, automerge

#2175 Update zio, zio-streams to 2.1.0
  build.sbt
Labels: dependency, automerge

#2177 Update opentelemetry-api, ... to 1.38.0
  build.sbt
Labels: dependency, automerge

#2178 Update zio, zio-streams to 2.1.1
  build.sbt
Labels: dependency, automerge

#2182 Update fs2-core, fs2-io, ... to 2.5.12
  build.sbt
Labels: dependency, automerge

#2183 Update prometheus-metrics-core to 1.3.0
  build.sbt
Labels: dependency, automerge

#2185 Update upickle to 3.3.1
  build.sbt
Labels: dependency, automerge

#2189 Update prometheus-metrics-core to 1.3.1
  build.sbt
Labels: dependency, automerge

#2194 Update jsoniter-scala-core, ... to 2.29.0
  build.sbt
Labels: dependency, automerge

#2198 Update sbt-scala-native to 0.5.2
  project/plugins.sbt
Labels: dependency, automerge
